@import url('https://fonts.cdnfonts.com/css/f-fase-bulan');
body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("classroom.jpg");
    background-position: 50%;
    background-size: cover;
    font-family: 'f Fase Bulan', sans-serif;     
    color: rgb(53, 94, 59);                                 
}

h1{
    text-align: center;
    font-size: 50px;
    color:rgb(53, 94, 59);
    text-shadow: -1px -1px 0 rgb(195, 221, 204), 1px -1px 0 rgb(195, 221, 204), -1px 1px 0 rgb(195, 221, 204), 1px 1px 0 rgb(195, 221, 204);
}

.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

}
.messenger{
    background-color:rgba(195, 221, 204, 0.856);
    border: 10px;
    border-style: double;
    border-color: black;
    padding: 15px;
    border-radius: 5px;
}
.note-box{
    border: 10px;
    border-style: double;
    border-color: black; 
    border-radius: 5px;
}
textarea{
    background-color:rgba(195, 221, 204, 0.856);
    border-radius: 5px;
}
.whoAreYouWelcome{
    display: flex;
    justify-content: row;
}
.note-box{
    display: flex;
    flex-direction: column;
}
.messageAppend{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.note-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
h2{
    background-color: rgb(195, 221, 204);
    color: rgb(53, 94, 59);
    border: 10px;
    border-style: double;
    border-color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}
button{
    background-color: rgb(195, 221, 204);
    color: rgb(53, 94, 59);
    font-family: 'f Fase Bulan', sans-serif; 
    border-color:rgb(53, 94, 59);
    border-radius: 5px;
    font-size: 15px;
}
#create{
    background-color: rgb(195, 221, 204);
    color: rgb(53, 94, 59);
    font-family: 'f Fase Bulan', sans-serif; 
    border: 10px;
    border-style: double;
    border-color: black;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.prof-typing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input{
    border-color:rgb(53, 94, 59);
    border-radius: 5px;  
}
#uploadNotesID{
    font-size: larger;
}
#send-button-title{
    font-size: large;
}
.messenger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.themAppend{
    background-color: rgb(53, 94, 59);
    border-style: solid;
    border-color: rgb(195, 221, 204);
    color: rgb(195, 221, 204);
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}
.youAppend{
    background-color: white;
    border-style: solid;
    border-color:rgb(53, 94, 59);
    border-radius: 5px;
    text-align: end;
    font-size: 15px;
    padding: 5px;
}
.prof-notes{
    background-color: rgba(195, 221, 204, 0.856);
    color: rgb(53, 94, 59);
    font-family: 'f Fase Bulan', sans-serif; 
    border: 10px;
    border-style: double;
    border-color: black;
    padding: 10px;
}
h3{
    padding-left: 100px;
    padding-right: 100px;

}
.welcome{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(195, 221, 204, 0.856);
    padding: 100px;
    border: 10px;
    border-style: double;
    border-color: black;
    font-size: 25px;
    font-weight: bold;
}
.welcomeBody{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: rgb(195, 221, 204);
    color: rgb(53, 94, 59);
    font-family: 'f Fase Bulan', sans-serif; 
    border-color:rgb(53, 94, 59);
    border-radius: 5px;
    font-size: 15px;
}
.h2{
    background-color: rgb(195, 221, 204);
    color: rgb(53, 94, 59);
    border: 10px;
    border-style: double;
    border-color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}
